/* Base */
/* ----------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
/*  font-family: Helvetica, Arial, sans-serif;*/
  font-family: "Georgia", sans-serif;
  color: #232323;
  font-size: 17.5px;
  line-height: 1.5;
  font-weight: 300;
/*  background-color: #fdfdfd;*/
}

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 400}

table {
    font-family: "Georgia", sans-serif;
    border-collapse: collapse;
    width: 100%;
}

th {
    border: 1px solid #cccccc;
    text-align: left;
    padding: 5px;
    background-color: #eeeeee;
}

td {
    border: 1px solid #cccccc;
    text-align: left;
    padding: 3px;
}

a         { color: #2a7ae2; text-decoration: none; }
a:hover   { color: ##232323; text-decoration: underline; }
a:visited { color: #205caa; }

/* Utility */

.wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap {
  max-width: 800px;
  padding: 0 30px;
  margin: 0 auto;
  zoom: 1;
}


/* Layout Styles */
/* ----------------------------------------------------------*/

/* Site header */

.site-header {
  border-top: 5px solid #232323;
  border-bottom: 1px solid #e8e8e8;
  min-height: 56px;
  background-color: white;
}

.site-title,
.site-title:hover,
.site-title:visited {
  display: block;
  color: #232323;
  font-size: 31px;
  float: left;
/*  line-height: 56px;*/
/*  position: relative;*/
  z-index: 1;
  padding-bottom: 0;
}

.site-nav {
  float: right;
  line-height: 56px;
}

.site-nav .menu-icon { display: none; }

.site-nav .page-link {
  margin-left: 20px;
  color: #727272;
  /*letter-spacing: 0px;*/
  font-size: 16px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

/* Site footer */

.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0;
}

.footer-heading {
  font-size: 16px;
  font-weight: 300;
  /*letter-spacing: 0px;*/
  margin-bottom: 15px;
}

.site-footer .column { float: left; margin-bottom: 15px; }

.footer-col-1 {
  width: 270px; /*fallback*/
  width: -webkit-calc(35% - 10px);
  width: -moz-calc(35% - 10px);
  width: -o-calc(35% - 10px);
  width: calc(35% - 10px);
  margin-right: 10px
}
.footer-col-2 {
  width: 175px; /*fallback*/
  width: -webkit-calc(23.125% - 10px);
  width: -moz-calc(23.125% - 10px);
  width: -o-calc(23.125% - 10px);
  width: calc(23.125% - 10px);
  margin-right: 10px
}
.footer-col-3 {
  width: 335px; /*fallback*/
  width: -webkit-calc(41.875%);
  width: -moz-calc(41.875%);
  width: -o-calc(41.875%);
  width: calc(41.875%);
}

.site-footer ul { list-style: none; }

.site-footer li,
.site-footer p {
  font-size: 16px;
  /*letter-spacing: 0px;*/
  color: #828282;
}

.github-icon-svg,
.twitter-icon-svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}


/* Page Content styles */
/* ----------------------------------------------------------*/

.page-content {
  padding: 30px 0;
  background-color: #fff;
}


/* Home styles */
/* ----------------------------------------------------------*/

.home h1 { margin-bottom: 25px; }

.posts { list-style-type: none; }

.posts li { margin-bottom: 5px; }

.posts .post-link {
  font-size: 20px;
  /*letter-spacing: -.5px;*/
  line-height: 1;
}

.posts .post-date {
  padding-top: 15px;
  display: block;
  font-size: 15px;
  color: #818181;
}


/* Post styles */
/* ----------------------------------------------------------*/

.post-header { margin: 10px 0 30px; }

.post-header h1 {
  font-size: 39px;
  /*letter-spacing: -0.5px;*/
  font-weight: 300;
}

.post-header .meta {
  font-size: 16px;
  color: #666;
  /*color: #818181;*/
  margin-top: 5px;
}

.post-content { margin: 0 0 30px; }

.post-content > * { margin: 20px 0; }


.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  line-height: 1;
  font-weight: 300;
  margin: 40px 0 20px;
}

.post-content h2 {
  font-size: 30px;
  /*letter-spacing: -0.5px;*/
}

.post-content h3 {
  font-size: 24px;
  /*letter-spacing: -0.5px;*/
}

.post-content h4 {
  font-size: 20px;
  /*letter-spacing: -0.5px;*/
}

.post-content blockquote {
  border-left: 4px solid #e8e8e8;
  padding-left: 20px;
  font-size: 18px;
  opacity: .6;
  /*letter-spacing: -0.5px;*/
  font-style: italic;
  margin: 30px 0;
}

.post-content ul,
.post-content ol { padding-left: 20px; }

.post pre,
.post code {
  border: 1px solid #d5d5e9;
  background-color: #eef;
  padding: 8px 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 15px;
  overflow:auto;
  line-height: 1.25;
}

.post code { padding: 1px 5px; }

.post ul,
.post ol { margin-left: 1.35em; }

.post pre code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #232323;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.post pre.terminal code { background-color: #232323; }

/* AK custom CSS mods */
.imgright { float: right; margin-left: 10px; }
.imgcap img {
  border: 1px solid #999;
  max-width: 100%;
}
.imgcap {
  color: #666;
  font-size: 14.5px;
  text-align: center;
}

.imgcap_noborder img {
  max-width: 100%;
}
.imgcap_noborder {
  color: #666;
  font-size: 14.5px;
  text-align: center;
}

.svgdiv {
  width: 100%;
  text-align: center;
}

#linkbutton:link, #linkbutton:visited {
  background-color: rgb(180,180,180);
  border-radius: 4px;
  color: white;
  padding: 6px 0px;
  width: 180px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  margin: 8px;
}

#linkbutton:hover, #linkbutton:active {
  background-color: rgba(160,160,160);
}

span.colab-span {
      background-image: url(/assets/colab.svg);
      background-repeat: no-repeat;
      background-size: 20px;
      background-position-y: 2px;
      display: inline-block;
      padding-left: 24px;
      border-radius: 4px;
      text-decoration: none;
    }

.playbutton {
  background-color: rgb(148, 196, 146);
  border-width: 0;
  /*background-color: rgba(255, 130, 0);*/
  border-radius: 4px;
  color: white;
  padding: 5px 8px;
  /*width: 60px;*/
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  /*display: block;*/
  /*margin-left: auto;*/
  margin: 8px 0px;
  margin-right: auto;
  min-width:60px;
}

.playbutton:hover, .playbutton:active {
  background-color: rgb(128, 176, 126);
}


#featuredlink:link, #featuredlink:visited {
          padding: 6px 0px;
          text-decoration: none;
          display: inline-block;

          border: 2px solid #777;
          padding: 10px;
          font-size: 20px;
          min-width: 200px;
          width: 50%;
          text-align: center;
          color: #999;
          margin: 0px auto;
          cursor: pointer;
          margin-bottom: 10px;
        }

#featuredlink:hover, #featuredlink:active {
  background-color: rgba(245, 245, 245);
}


/* media queries */
/* ----------------------------------------------------------*/


@media screen and (max-width: 750px) {

  .footer-col-1 { width: 50%; }

  .footer-col-2 {
    width: 45%; /*fallback*/
    width: -webkit-calc(50% - 10px);
    width: -moz-calc(50% - 10px);
    width: -o-calc(50% - 10px);
    width: calc(50% - 10px);
    margin-right: 0;
  }

  .site-footer .column.footer-col-3 {
    width: auto;
    float: none;
    clear: both;
  }

}

/*@media screen and (min-width: 900px) {
    .longEqnWithSmallScript {
        display: none !important;
    }
}

@media screen and (max-width: 900px) {
    .longEqnWithLargeScript {
        display: none !important;
    }
}*/

@media screen and (max-width: 600px) {

  body {
  font-family: "Georgia", sans-serif;
  color: #232323;
  font-size: 16.5px;
  line-height: 1.5;
  font-weight: 300;
  }

  .wrap { padding: 0 12px; }

  .site-nav {
    position: fixed;
    z-index: 10;
    top: 14px; right: 8px;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
  }

  .site-nav .menu-icon {
    display: block;
    font-size: 24px;
    color: #505050;
    float: right;
    width: 36px;
    text-align: center;
    line-height: 36px;
  }

  .site-nav .menu-icon svg { width: 18px; height: 16px; }

  .site-nav .trigger {
    clear: both;
    margin-bottom: 5px;
    display: none;
  }

  .site-nav:hover .trigger { display: block; }

  .site-nav .page-link {
    display: block;
    text-align: right;
    line-height: 1.25;
    padding: 5px 10px;
    margin: 0;
  }

  .post-header h1 { font-size: 36px; }
  .post-content h2 { font-size: 28px; }
  .post-content h3 { font-size: 22px; }
  .post-content h4 { font-size: 18px; }
  .post-content blockquote { padding-left: 10px; }
  .post-content ul,
  .post-content ol { padding-left: 10px; }

  .site-footer .column {
    float: none;
    clear: both;
    width: auto;
    margin: 0 0 15px; }

}
