# My blog | 2020
# Sam Greydanus

*.DS_Store*
*.egg-info
.ipynb_checkpoints
*/.ipynb_checkpoints/*
*/.jekyll-cache/*
.pytest_cache
*.tar
*.zip
*.jekyll-cache*
.jekyll-cache/*
# *.pkl # allow pickle files
__pycache__
assets/.DS_Store
